{% extends "paginas/base.html" %}

{% block titulo %} Asignaturas {% endblock %}

{% block contenido %}

<div class="card">
    
    <div class="card-body">
        <h4 class="card-title">Asignaturas</h4>

        <table class="table table-striped">
            <thead>

            
                <tr>
                    <th>ID</th>
                    <th>Nombre Asignatura</th>
                    <th>Hora</th>
                  
                </tr>
            </thead>
            <tbody>
                {% for estudiantes in estudiantes %}
                <tr>
                    <td>{{asignaturas.id}}</td>
                    <td>{{asignaturas.nombre}}</td>
                    <td>{{asignaturas.horas}}</td>
                </tr>
                {% endfor %}
            </tbody>
        
    </div>
    <div class="card-footer text-muted">
        
    </div>
</div>

{% endblock %}